<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <data-source>
        <name>java:global/SPRING-DATA</name>
        <class-name>org.postgresql.ds.PGConnectionPoolDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>5432</port-number>
        <database-name>${database.name}</database-name>
        <user>${database.user}</user>
        <password>${database.password}</password>
    </data-source>
</web-app>